.login {
	margin-top: 50px;
	margin-left: 300px;
	width: 500px;
	height: 400px;
  	background-color: #F3EFF0;
  	border-radius: 5px;
  	padding-left: 200px;
  	border: 1px solid black;
}
.login form div div label{
	text-align: center;
}

.login form div {
	padding: 1px;

}
.login form div a{
	text-decoration: none;
}