body{
	margin: 0;
	padding: 0;
}

.navbar {
  height: 8%;
  width: 100%;
  background-color: #F3EFF0;
  overflow: hidden;
}
.navbar ul{
	width: auto;
	float: right;

}
.navbar li{
	margin: 0;
	padding-left: 	15px;
	padding-right: 5px;
	text-align: right;
	display: inline-block;

}
.navbar a{
	text-decoration: none;
	color: #999B95;
}

.navbar ul li a:hover{
	color: #2F2F2D;
}
.h1 {
	padding-top: 10%;
	text-align: center;
}

.results {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
}

.option:hover{
	color: black;
	background-color: #D7F390;
}
.option:focus{
	color: black;
	background-color: #BDF040;
}
.question{
	color: #BDF040;
	background: black;
}
